.myphoto {
  grid-area: myphoto;
}
.about {
  grid-area: about;
}
.logo {
  grid-area: logo;
}
.skills {
  grid-area: skills;
}
.about {
  grid-area: about;
}

opnav {
  grid-area: footer;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.wrapper {
  min-width: 480px;
  min-height: 100%
  margin-left:auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "mobile"
    "myphoto"
    "about"
    "logo"
    "skills"
    "opnav";
}



   html, body{
   line-height: 1.6;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
   background-color: #ddd;
   color: black;
   margin: 0;
  }

  header{
    border: 0.005rem solid white;
    position: fixed;
    z-index: 100;
  }

  header li {
    list-style: none;
  }

   .desktop {
   display: none;
  }


 .mobile {
  width: 100%;
  color: white;
  }

  #contacts ul{
    display: none;
  }
  .topnav {
  width: 100%;
  overflow: hidden;
background-color: #ddd;
  position: relative;
  }
.centerr{
  margin-top: 0;
}

.dropbtn {
  margin-top: -1.5rem;
}
  .topnav #myLinks {
  width: 100%;
    display: none;
    padding-left: 0;
  }

  .topnav a {
  color: black;
  padding: .8rem 1rem;
  text-decoration: none;
  font-size: .94rem;
  display: block;
  }

.topnav a.icon {
  background: #ddd;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

  .topnav a:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: #ddd;
  color: white;
  margin: 0 auto;
}


.myphoto {
  min-width: 100%;
  min-height:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 7rem;
}

img {
  min-width: 100%;
  min-height:100%;
}

.secelm .mystory {
  max-width: 85%

}

.about{
  height:20rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.about p {
  min-width: 50%;
  text-align: center;
}


.logo{
  height: 15.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ddd;
  padding-top: 1rem;
}

.dropdowns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

 .dropdowns h5 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

 .centerr {
  text-align: center;
  margin-bottom:0;
}


   .mystory {
 flex: 1 1 auto;
 margin: 0 auto;
}

.centers {
  font-size: 2em;
  text-align: center;
  margin-top: 1rem;
}




.icons8-css3 {
display: inline-block;
width: 4.375rem;
height: 4.375rem;
background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iOTYiIGhlaWdodD0iOTYiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjMDI3N0JEIiBkPSJNNDEsNUg3bDMsMzRsMTQsNGwxNC00TDQxLDVMNDEsNXoiPjwvcGF0aD48cGF0aCBmaWxsPSIjMDM5QkU1IiBkPSJNMjQgOEwyNCAzOS45IDM1LjIgMzYuNyAzNy43IDh6Ij48L3BhdGg+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTMzLjEgMTNMMjQgMTMgMjQgMTcgMjguOSAxNyAyOC42IDIxIDI0IDIxIDI0IDI1IDI4LjQgMjUgMjguMSAyOS41IDI0IDMwLjkgMjQgMzUuMSAzMS45IDMyLjUgMzIuNiAyMSAzMi42IDIxeiI+PC9wYXRoPjxwYXRoIGZpbGw9IiNFRUUiIGQ9Ik0yNCwxM3Y0aC04LjlsLTAuMy00SDI0eiBNMTkuNCwyMWwwLjIsNEgyNHYtNEgxOS40eiBNMTkuOCwyN2gtNGwwLjMsNS41bDcuOSwyLjZ2LTQuMmwtNC4xLTEuNEwxOS44LDI3eiI+PC9wYXRoPjwvc3ZnPg==') 50% 50% no-repeat;
background-size: 100%; }

.icons8-javascript {
display: inline-block;
width: 4.375rem;
height: 4.375rem;
background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iOTYiIGhlaWdodD0iOTYiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjZmZkNjAwIiBkPSJNNiw0MlY2aDM2djM2SDZ6Ij48L3BhdGg+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAxIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMy4zIiBkPSJNMjMuNzgzLDIyLjM1MnY5LjgxOSBjMCwzLjc2NC00LjM4LDQuMDIyLTYuMjgzLDAuODAyIj48L3BhdGg+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwMDAxIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMy4zIiBkPSJNMzQuNjksMjUuMzQzIGMtMS43MzktMi43MjctNS42NzQtMi4zNDUtNS44NCwwLjU1OGMtMC4yMTQsMy43NTcsNi43NjgsMi45MzgsNi4yNDcsNy4xMDdjLTAuMzY1LDIuOTItNC44NzQsMy44NTgtNy4xOTMtMC4wNjUiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat;
background-size: 100%; }

.icons8-html-5 {
display: inline-block;
width: 4.375rem;
height: 4.375rem;
background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iOTYiIGhlaWdodD0iOTYiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjRTY1MTAwIiBkPSJNNDEsNUg3bDMsMzRsMTQsNGwxNC00TDQxLDVMNDEsNXoiPjwvcGF0aD48cGF0aCBmaWxsPSIjRkY2RDAwIiBkPSJNMjQgOEwyNCAzOS45IDM1LjIgMzYuNyAzNy43IDh6Ij48L3BhdGg+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTI0LDI1di00aDguNmwtMC43LDExLjVMMjQsMzUuMXYtNC4ybDQuMS0xLjRsMC4zLTQuNUgyNHogTTMyLjksMTdsMC4zLTRIMjR2NEgzMi45eiI+PC9wYXRoPjxwYXRoIGZpbGw9IiNFRUUiIGQ9Ik0yNCwzMC45djQuMmwtNy45LTIuNkwxNS43LDI3aDRsMC4yLDIuNUwyNCwzMC45eiBNMTkuMSwxN0gyNHYtNGgtOS4xbDAuNywxMkgyNHYtNGgtNC42TDE5LjEsMTd6Ij48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
background-size: 100%; }



.dropbtn {
  background-color: #ddd;
  color: white;
  padding: 1rem;
  font-size: 0.4rem;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #333;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65%;
  right:-0.7rem;
  background-color: #333;
  min-width: 9.2rem;;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 200;
  border-radius: .5rem;
}

.dropdown-content a {
  color: white;
  padding: .3rem .5rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;
min-width: 8rem;
margin-left:.5rem;}

.skills
{
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ddd;
  margin-bottom: 3rem;



}
.skill {
  height: 17rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-top: 0rem;
}

.fab, .fas {
  font-size: 1rem;
  padding-right: 1rem;
  margin-right:.3rem;
  margin-top: 1rem;
  padding-bottom:3rem;
}

.skills h5 {
  font-family: 'Open Sans', sans-serif;
  margin-top:1rem;
  margin-bottom: 1rem;
}


footer {
  width: 100%;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ddd;
    height: auto;
    font-size: .7rem;
    padding-top: 0.5rem .5rem;
    color: black;
    z-index: 100;
    margin: 0 auto;

}


#opnav {
  max-height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #ddd;
}


#opnav p{
    max-width: 25.35rem;
    margin: 0.3rem 1rem;
    font-size: 0.8rem;
    color: black;
}

.opnav h4{
  text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;

}

.socials li{
    margin: 0 0.8rem;
}

.socials a{
    text-decoration: none;
    color: #333;
    border: 0.005rem solid white;
    padding: 0.06rem;
    border-radius: 50%;
}

.socials a i{
    min-width: 1.4rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: white;
}

footer {
  border: 0.005rem solid white;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: .5rem;
}

.footer-bottom p{
  font-size: .6rem;
   text-transform: capitalize;
   float: left;
   margin: 0 auto;
}


.footer-bottom p a{
  color:black;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    font-weight: 200;
}

.footer-bottom p a:hover{
  color: white;
}

.footer-menu ul{
  display: flex;
  justify-content: center;
  margin-top: .8rem;
  margin-bottom: 1.7rem;
  list-style: none;
}

.footer-menu ul li{
padding-right:
display: block;
padding-right: .5em;
}

.footer-menu ul li a{
  color:black;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: white;
}





@media only screen and (min-width: 750px) {

.wrapper {
  min-height: 83rem;
  min-width:70% ;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  font-size: 1.5rem;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "desktop desktop"
    "about myphoto"
    "skills logo"
    "footer footer";
}

.mobile {
    display: none;
  }

.desktop {
width: 100%;
position: fixed;
display: flex;
background-color: #ddd;
align-items: center;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
}

.desktop a{
  font-size: 1.2rem;
}


nav a {
color: black;
text-decoration: none;
padding-right: 1em;
}

.active{
background-color: #ddd;
}

.dropdown{
  padding-bottom: .5rem;
}

.dropbtn{
  padding: 1rem;
  margin-top: 0;
}

.dropdowns{
  padding-bottom: 1rem;
}


.centerr {
  margin-bottom: 3rem;
}


nav {
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}
nav ul {
display: flex;
justify-content: space-between;
}

nav .me {
  display: flex;
  margin-left: 1em;
}

h5{
font-family: 'Open Sans', sans-serif;
font-size: 1rem;
padding-top: 1.7rem;
}


.myphoto img{
  width: 100%;
  min-height:60%;
}

.myphoto{
  width: 100%;
  height: 30rem;
  padding-bottom: 5.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 0.005rem solid white;
  margin-top: -3rem;
}

#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: -4rem;
  position: relative;
  top: 5rem;
}

#contacts h2 {
  padding-top: .7rem;
}

.fa:hover, .fa:focus{
  background-color: #333;
  border-radius: 1rem;
  padding: .2rem;

}

.socials{
  margin: 0 auto;
  background-color: white;
  border-radius: 1rem;
}
.fab, .fas {
  font-size: 3rem;
  padding-right: 1rem;
  margin-right:.3rem;
  margin-top: 3rem;
}

.about {
width: 100%;
  margin: 0 auto;
  height: 51rem;
  border-bottom: 0.005rem solid white;
}
.about h2 {
  margin-top:2.5rem;
  text-align: center;
  padding-bottom: 1.5rem;

}

.about p{
  width: 80%;
  margin: -2rem auto;
  height: 12rem
}

.logo {
  height: 20rem;
}

.logo h2 {
  padding-bottom:3rem;
}

.logo h5 {
  padding-top: 1rem;
}

.skills{
  height: 13rem;
  width: 100%;
  border-right:0.005rem solid white;
  padding-bottom: 3.5rem;
}

.skills h2 {
  margin-top:1rem;
  margin-bottom: 1rem;
}

.skills h5 {
  font-family: 'Open Sans', sans-serif;
}

.skill {
  height: 3rem;
  margin-left: 5rem;
}

/*Footer Styles*/
.footer-copy {
  font-size: .8rem;
  position: relative;
  top: 1.4rem;
}

.footer-menu{
  font-size: .8rem;
  position: relative;
  bottom: 1rem;
}

.footer-bottom{
  height: 3rem;
  width: 95%;
   display: flex;
   flex-direction: column;
}

.f-menu {
  font-size: 1rem;
  float: right;
}

#opnav{
  padding: .6rem;
}

#opnav .f-menu {
  position: relative;
  top:.7rem;
}

#opnav p{
    max-width: 60.35rem;
    margin: .3rem auto;
    font-size: 1rem;
    color: black;
}



}
